@import "tailwindcss";

html {
  background: #101010;
  scroll-behavior: smooth;
}

html::selection {
  background: #1c54e3;
  color: white;
}

.gradient-custom {
  background: linear-gradient(to bottom, #232323 0%, #141414 100%);
}

.gradient-custom-2 {
  background: linear-gradient(to right, #f8acff 0%, #696eff 100%);
}

.gradient-custom-3 {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradient-red {
  background: linear-gradient(
    to top right,
    #800020 0%,
    #b3475f 50%,
    #ffffff 100%
  );
}
