@import "tailwindcss";

html {
  background: #101010;
}

html::selection {
  background: #1c54e3;
  color: white;
}

.gradient-custom {
  background: linear-gradient(to bottom, #232323 0%, #141414 100%);
}

.gradient-custom-2 {
  background: linear-gradient(to right, #f8acff 0%, #696eff 100%);
}
